<h2>Ticket List</h2>

<div *ngFor="let ticket of tickets">
  <div>
    <span><strong>Ticket ID:</strong> {{ ticket.id }}</span><br>
    <span><strong>Customer Name:</strong> {{ ticket.customerName }}</span><br>
    <span><strong>Ticket Title:</strong> {{ ticket.ticketTitle }}</span><br>
    <span><strong>Six Digit Ticket Number:</strong> {{ ticket.sixDigitTicketNumber }}</span><br>
    <span><strong>Ticket Status:</strong> {{ ticket.ticketStatus ? 'Closed' : 'Open' }}</span><br>
    <button (click)="deleteTicket(ticket.id)">Delete</button>
    <button (click)="changeTicketStatus(ticket.id, !ticket.ticketStatus)">Change Status</button>
  </div>
</div>

<!-- <div>
  <a routerLink="/create-ticket">Create New Ticket</a>
</div> -->
<!-- <div>
  <button (click)="navigateToCreateTicket()">Create New Ticket</button>
</div> -->
